{#http://localhost:8001/connexion#}
{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<section class="row my-3">
		<article class="col">
			<form method="post">
				{% if error %}
					<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}
				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
				<h2 class="h2 mb-3 font-weight-normal">Connexion</h2>
				<label class=" mt-3" for="inputEmail">Email</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
				<label class=" mt-3" for="inputPassword">Mot de passe</label>
				<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="d-flex justify-content-start flex-column flex-md-row">
					<button class="btn btn-success m-3" type="submit">
						Connexion
					</button>
					<button class="btn btn-warning m-3">
						<a class="text-danger" href="{{ path('app_forgot_password') }}">Mot de passe oublié</a>
					</button>
				</div>
			</form>
		</article>
	</section>
{% endblock %}
