{#http://localhost:8001/admin/produits/tous#}
{% extends 'base.html.twig' %}

{% block title %}Listes des produits
{% endblock %}

{% block body %}
	<h2>Listes des produits</h2>
	<hr>
	<section class="row">
		<article
			class="col-12 text-center">
			{# Formulaire pour le filtrage par catégorie #}
			<form method="get">
				<select name="id" class="p-1 rounded">
					<option value="">Toutes les catégories</option>
					{% for category in categories %}
						<option value="{{ category.id }}" {% if selectedCategoryId == category.id %} selected {% endif %} {% if category.parent == null %} class="d-none" {% endif %}>
							{{ category.name }}
						</option>
					{% endfor %}
				</select>
				<button class="btn btn-success p-2" type="submit">Filtrer par Catégorie</button>
			</form>
		</article>
	</section>
	<hr>
	<section
		class="row mt-5">
		{# Formulaire pour le filtrage par nom de produit #}
		<article class="col-lg-2 d-none d-lg-block">
			<form method="get" action="{{ path('app_admin_products_all') }}">
				{% for category in categories %}
					<h6 {% if category.parent == null %} class="d-none" {% endif %}>{{ category.name }}</h6>
					<ul class="list-unstyled">
						{% for product in category.products %}
							<li class="form-check">
								<input class="form-check-input" type="checkbox" name="productNames[]" value="{{ product.name }}" id="product_{{ product.name }}">
								<label class="form-check-label" for="product_{{ product.name }}">
									{{ product.name }}
								</label>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
				<button class="btn btn-success" type="submit">Filtrer</button>
			</form>
		</article>
		{# Cartes de Produits #}
		<article class="col-lg-10">
			<div class="row">
				{% for product in products %}
					<div class="col-sm-12 col-md-6 col-lg-4 p-2">
						<div class="card border-success h-100">
							<div class="hover-img">
								<img class="card-img-top" src="{{ asset('assets/uploads/products/' ~ product.images[0].name) }}" alt="{{ product.name }}" style="height: 200px; object-fit: cover;">
							</div>
							<div class="card-body d-flex flex-column justify-content-between">
								<h5 class="card-title">{{ product.name }}</h5>
								<p>{{ product.price /100 }}
									€</p>
							</div>
							<div class="card-footer d-flex justify-content-around">
								<a class="btn btn-success m-1" href="{{ path('app_product_details',{slug: product.slug }) }}">Détails</a>
								<a class="btn btn-success m-1" href="{{ path('app_cart_add', {id: product.id })}}">Ajouter au panier</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</article>
	</section>
{% endblock %}
{% block javascripts %}
	<script>
		document.addEventListener('DOMContentLoaded', () => { // Sélectionne tous les éléments de formulaire de produit
const productChecks = document.querySelectorAll('.form-check-input');

// Ajoute un écouteur d'événement pour chaque case à cocher
productChecks.forEach(check => {
check.addEventListener('change', filterProducts);
});

function filterProducts() { // Obtient les noms des produits cochés
const checkedProducts = Array.from(productChecks).filter(check => check.checked).map(check => check.value.toLowerCase());

// Sélectionne toutes les cartes de produits
const productCards = document.querySelectorAll('.col-lg-10 .card');

// Affiche ou masque les cartes en fonction de la sélection
productCards.forEach(card => {
const productName = card.querySelector('.card-title').textContent.toLowerCase();
if (checkedProducts.length === 0 || checkedProducts.includes(productName)) {
card.parentElement.style.display = ''; // Affiche la carte
} else {
card.parentElement.style.display = 'none'; // Masque la carte
}
});
}
});
	</script>
{% endblock %}
